
@{
    ViewData["Title"] = "MeGustaActividades";
}

<h1>Dar me gusta a actividades</h1>



<form method="post" action="~/Actividades/CompletarMeGustaActividades">

    <label>Actividad</label>
    <select name="actividadNombre" id="actividadNombre">
        <option value="-1">Seleccione una actividad</option>
        @foreach (Obligatorio1_Dominio.Actividad miActividad in Obligatorio1_Dominio.Sistema.Instancia.Actividades)
        {
            <option value="@miActividad.Nombre">@miActividad.Nombre</option>
        }
    </select>
    <input type="submit" value="Me Gusta!" onclick="return ValidarDatos();" />
</form>

<p>@ViewBag.Mensaje</p>


<script>
    function ValidarDatos() {

        let actividadNombre = document.getElementById("actividadNombre").value;

        let validacion = true;
        let misErrores = "";

        if (actividadNombre === "-1") {
            misErrores += "Es obligatorio seleccionar una actividad";
            validacion = false;
        }

        //envío de alerta con todos los errores
        if (misErrores.length > 0) {
            alert(misErrores);
        }
        return validacion;
    }
</script>
