<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Obligatorio2MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Obligatorio2MVC</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>

                        @if (Context.Session.GetString("NombreUsuario") == null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="IndexLogin">Inicio de Sesion</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Actividades" asp-action="ListadoActividades">Listar Actividades</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Registro" asp-action="RegistroUsuario">Registro de Usuario</a>
                            </li>
                        }

                        <!-- Segun la variable de sesion guardada se restringe las opciones de menu -->
                        <!-- Opciones de menu para UsuarioRegistrado-->
                        @if (Context.Session.GetString("NombreUsuario") != null && Context.Session.GetInt32("TipoUsuario") == 1)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Actividades" asp-action="ListadoYCompraActividades">Ver/Comprar Entradas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Compra" asp-action="MisCompras">Ver Compras Realizadas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Compra" asp-action="CancelarCompras">Cancelar Compras Recientes</a>
                            </li>                            
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Actividades" asp-action="MeGustaActividades">Dar Me Gusta a Actividades</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CerrarSesion">Cerrar Sesion</a>
                            </li>
                        }

                        <!-- Opciones de menu para UsuarioOperador-->
                        @if (Context.Session.GetString("NombreUsuario") != null && Context.Session.GetInt32("TipoUsuario") == 2)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Compra" asp-action="IndexCompra">Compras Entre Fechas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="ListadoUsuariosClientesOrdenados">Listar Clientes Ordenados</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Actividades" asp-action="IndexListadoActividadesSegunLugar">Estadisticas - Listar actividades segun lugar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Actividades" asp-action="IndexListadoActividadesSegunFechaYCategoria">Estadisticas - Listar actividades segun fechas y categoria</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Compra" asp-action="ComprasDeMayorValor">Estadisticas - Compras de mayor valor</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CerrarSesion">Cerrar sesion</a>
                            </li>

                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Obligatorio2MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <!--AGREGADO para el manejo de variables de sesion **Obligatorio 2** -->
    @using Microsoft.AspNetCore.Http;
</body>
</html>
